/* Footer style */
footer {
  margin-top: auto;
  height: 10rem;
  /* background-color: rgba(11, 12, 30, 1); */
  background-color: #343a40;
  box-shadow: 3px 3px 12px rgba(11, 12, 30, .5);

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
footer p, li {
  margin-bottom: 0;
  list-style: none;
  line-height: 1.4em;
}

.footer-content {
  width: 70rem;
  margin: 1em auto;
  font-size: .8em;
  color: rgba(151, 160, 175, 1);
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.footer-content a {
  color: rgba(151, 160, 175, 1);
}
.footer-content a:hover {
  color: rgba(255, 255, 255, 1);
}
.footer-content ul {
  padding: 0;
  margin: 0;
}
.footer-content i {
  font-size: 2rem;
  margin: 0 1rem;
}
.footer-box {
  width: 10rem;
}

#social {
  align-self: flex-start;
}
#social i:hover {
  color: rgba(255, 255, 255, 1);
}
#copyright {
  margin-bottom: 1em;
  text-align: center;
  font-size: .8em;
  color: rgba(151, 160, 175, 1);
}
#contributors li {
  display: inline-block;
}
#contributors {
  margin: 0;
}
#copyright ul {
  padding: 0;
}
#copyright a {
  color: rgb(75, 202, 160);
}
#copyright a:hover {
  color: rgba(255, 255, 255, 1);
}

@media only screen and (max-width: 990px) {
  footer {
    height: auto;
    width: 100%;
  }
  .footer-content {
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .footer-item {
    margin-bottom: 1em;
  }
  .footer-content i {
    font-size: 1.5rem;
    margin: 0 1rem;
  }
  
  #social {
    align-self: center;
  }
}