* {
  font-family: 'Merriweather', serif;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(151, 160, 175, 1);
}
h2 {
  margin-bottom: .8em;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

/* main content */
.body-layout {
  width: 70rem;
  margin: 0 auto;
  padding-bottom: 2rem;
  /* background-color: rgba(151, 160, 175, 1); */
  
  display: flex;
}
.main-content li {
  margin-bottom: 2.5em;

}
.contenu {
  margin: 2em;
  padding: 2em;
  background-color: #FFFFFF;
  color: rgba(11, 12, 30, 1);
  box-shadow: 3px 3px 12px rgba(11, 12, 30, .5);
}
.main-illu {
  width: 60rem;
  padding: 1em 1em 5em;
  background-color: #FFFFFF;
  transform: rotate(-20deg);
  
  align-self: center;
}
.main-content {
  margin-left: 0;
}

/* Responsive tablet */
@media only screen and (max-width: 990px) {
  .body-layout {
    width: 90%;
    flex-direction: column;
  }
  .main-content {
    margin: 2em 0 auto;
  }
  .main-illu{
    order: 1;
    margin-bottom: 4em;
  }
}

/* Responsive mobile */
@media only screen and (max-width: 420px) {
  h2 {
    font-size: 1.8em;
  }
  h3 {
    font-size: 1.5em;
  }
  .main-content {
    font-size: .9em;
  }
  .main-illu {
    width: 18em;
    margin-top: 0;
  }
}