* {
  font-family: 'Muli', sans-serif;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(151, 160, 175, 1);
}
h2 {
  margin-bottom: .8em;
}
ul {
  list-style: none;
}
li {
  margin-bottom: 1.5em;
}

/* main content */
.body-layout {
  width: 70rem;
  margin: 0 auto;
  padding-bottom: 2rem;
  /* background-color: rgba(151, 160, 175, 1); */

  display: flex;
}
.contenu {
  margin: 2em;
  padding: 2em;
  background-color: #FFFFFF;
  color: rgba(11, 12, 30, 1);
  box-shadow: 3px 3px 12px rgba(11, 12, 30, .5);
}
.main-illu {
  width: 25em;
  padding: 1em 1em 5em;
  background-color: #FFFFFF;
  
  align-self: flex-start;
}
.main-content {
  list-style-type: ;
  margin-left: 0;
}

/* Footer */
footer {
  margin-top: auto;
  height: 12rem;
  background-color: rgba(11, 12, 30, 1); 
}
.footer-content {
  width: 70rem;
}