*{
	font-family: 'Merriweather', serif;
}

.pos-f-t{
	display: none;
}

.JK-nav{
	justify-content: right;
	margin-top: 58px;
}

.JK-imgNavBar{
	display: flex;
	flex-direction: row;
	width: 500px;
	height: 100px;
	opacity: 1;
}

#JK-mrBean{
	height: 100px;
	width: auto;
}

@media screen and (max-width: 990px) {
	.bg-light{
		display: none;
	}
	
	.pos-f-t{
		display: inline;
	}

	/*.JK-navBack{
		background-color: #f8f9fa !important;
	}*/

	a{
		color: #FFF;
	}

	a:hover{
		color: gray;
	}

	ul{
		align-items: center;
	}
	
}
