/* Coolors Exported Palette - coolors.co/d0e562-b6d369-899878-1c1c1c-86a397 */

/* HSL */
$color1: hsla(70%, 72%, 64%, 1);
$color2: hsla(76%, 55%, 62%, 1);
$color3: hsla(88%, 13%, 53%, 1);
$color4: hsla(0%, 0%, 11%, 1);
$color5: hsla(155%, 14%, 58%, 1);

/* RGB */
$color1: rgba(208, 229, 98, 1);
$color2: rgba(182, 211, 105, 1);
$color3: rgba(137, 152, 120, 1);
$color4: rgba(28, 28, 28, 1);
$color5: rgba(134, 163, 151, 1);